<%- include("./partials/header") %> 

<div class="container" style="margin-top: 20px;">
    <div class="alert alert-success" role="alert">
        Email: <strong><%=email %></strong>  cadastrado com sucesso!
        <a href="/">Retornar Home!</a>
    </div>
</div>

<%- include("./partials/footer") %> 


